@charset "UTF-8";

.attribution { 
    margin-top: 1rem;
    font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
color: white;
width: 80%;
margin: 0 auto;
margin-top: 5rem;
display: grid;
gap: 1.5rem;

/* grid-auto-flow: dense */
/* container-type: inline-size; */
/* container-name: main-container; */

}

.card{
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

img{
    border-radius: 50%;
}

.id{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;

}

.main-testimonial{
font-size: 2rem;
margin-top: 1rem;
}

.quote{
    margin-top: 1rem;

}



.daniel{
background-color: hsl(263, 55%, 52%);
box-shadow: 0 5px 10px hsl(263, 55%, 52%);

}

.jonathan{
background-color: hsl(217, 19%, 35%);
box-shadow: 0 5px 10px hsl(264, 82%, 80%);
}

.jeanette{
    color: hsl(219, 29%, 14%);
    background-color:  hsl(214, 17%, 92%);
    box-shadow: 0 5px 10px hsl(264, 82%, 80%);
   

}

.patrick{
background-color: hsl(219, 29%, 14%);
box-shadow: 0 5px 10px hsl(264, 82%, 80%);

}

.kira{
    color: hsl(219, 29%, 14%);
    background-color:hsl(214, 17%, 92%);
    box-shadow: 0 5px 10px hsl(264, 82%, 80%);

}



@media screen and (min-width:1200px){
    main {

        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
      
    }

    .kira {
        grid-column: 4;
        grid-row: 1 / span 2;
        
        
    }

    .jeanette {
        /* grid-column: 1; */
        grid-row: 2;
    }

    .daniel{
        grid-column: span 2;
    }

    .patrick{
        grid-column: span 2;
    }

}
   
@media screen and (min-width: 750px) and (max-width: 1200px){
    main {

        grid-template-columns:repeat(3, minmax(200px, 1fr)); 
    }

    .kira {

        grid-column: span 3;
        
        
    }

    .daniel{
        grid-column: span 2;
    }

    .patrick{
        grid-column: span 2;
    }
}